html, body {
  margin: 0;
  padding: 20px;
  font-family: "Verdana", sans-serif;
	background-color: whitesmoke;
}

body {
  display: flex;
  gap: 2em;
}

body>div {
  flex: 1;
}

article {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 4em 0;
  padding: 1em;
}

fieldset {
  max-width: 40em;
}

fieldset > * {
  display: flex;
  margin-bottom: 10px;
}

fieldset > * > :first-child {
  width: 8em;
}

fieldset > * > :not(:first-child) {
  flex: 1;
}

input:invalid {
  background-color: pink;
}

li:hover {
  background-color: palegreen;
  cursor: pointer;
}